@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}
html, body, .wrap{
	height: 100%;
	width:100%;
}

.Header, .content, .Footer{
	width: 100%;
	float: left;
}


.SideBar{
	width: 10%;
	height: 95%;
	background-color: #a9b3ba;
	float: left;
}

.page_content{
	width: 90%;
	height: 80%;
	background-color: #EAEAEA;
	float: left;
}

.Header{
	height:5%;
	background-color: #a9bab4;
}

.Footer{
	height: 15%;
	width: 90%;
/*   	position : relative; */
/*   	transform : translateY(-100%); */
	background-color:#baaca9;
}